.vs/Foundation/config/applicationhost.config
.vs/*.*
.vs/Foundation/v16/.suo
*.lock
.vs/Foundation/v16/Server/sqlite3/storage.ide
*.pdb
bin/*
NBitcoin/bin/Debug/netstandard2.0/NBitcoin.dll
NBitcoin/obj/Debug/*.*
NBitcoin/obj/*.*
NBitcoin/obj/Release/*.*
obj/*.*
obj/Release/*.*
obj/*
NBitcoin/bin/Release/netstandard2.0/NBitcoin.dll
JesusChrist/mobile.htm
JesusChrist/mobile.asp
JesusChrist/mainold.htm
Images/workers.png
