.vs/Foundation/config/applicationhost.config
.vs/*.*
.vs/Foundation/v16/.suo
*.lock
.vs/Foundation/v16/Server/sqlite3/storage.ide
*.pdb
bin/*
packages/
NBitcoin/bin/Debug/netstandard2.0/NBitcoin.dll
NBitcoin/obj/Debug/*.*
NBitcoin/obj/*.*
NBitcoin/obj/Release/*.*
obj/*.*
obj/Release/*.*
obj/*
NBitcoin/bin/Release/netstandard2.0/NBitcoin.dll
JesusChrist/mobile.htm
JesusChrist/mobile.asp
JesusChrist/mainold.htm
Images/workers.png
.vs/Foundation/v16/Server/sqlite3/storage.ide-shm
.vs/Foundation/v16/Server/sqlite3/storage.ide-shm
.vs/Foundation/v16/Server/sqlite3/storage.ide-wal
Images/blockssolved.png
JesusChrist/mainmenu.htm
Properties/PublishProfiles/FolderProfile.pubxml.user
Saved.csproj.user
Images/blockssolved.png
*.pubxml
*.cache
PoolService/bin/Debug/System.Web.Optimization.xml
PoolService/bin/Debug/PoolService.exe.config
PoolService/bin/Debug/PoolService.exe
Images/blockssolved.png
PoolService/bin/Debug/AWSSDK.Core.dll
Properties/PublishProfiles/Trash/FolderProfile2.pubxml.user
PoolService/bin/Debug/OpenHtmlToPdf.dll
PoolService/bin/Debug/*.*
PoolService/obj/*.*
JesusChrist/Mobile.html
Images/blockssolved.png
Images/hashrate.png
Images/sanctuaries.png
.vs/Foundation/DesignTimeBuild/.dtbcache
.vs/Foundation/v16/Server/sqlite3/*.*
DACClient/.vs/DACClient/v16/.suo
DACClient/.vs/*.*
DACClient/obj/*.*
DACClient/bin/Debug/*.*
PoolService/obj/Debug/*.*
Properties/PublishProfiles/Trash/*.*
PoolService/PoolService.csproj.user
DACClient/obj/Debug/*.*
DACClient/.vs/DACClient/v16/Server/sqlite3/*.*
.vs/Foundation/v16/Server/sqlite3/*.*
Images/hashrate.png
Properties/PublishProfiles/FolderProfile.pubxml
.vs/Foundation/v16/Server/sqlite3/storage.ide-shm
Images/hashrate.png

Images/blockssolved.png
*.ide-shm
Images/blockssolved.png
.vs/Foundation/v16/Server/sqlite3/storage.ide-shm
.vs/Foundation/v16/Server/sqlite3/storage.ide-wal
Images/blockssolved.png
Images/blockssolved.png
