<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <add value="main.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension="." mimeType="acmechallenge/text" />
        </staticContent>
    </system.webServer>
</configuration>
